<div class="flex justify-between items-center max-lg:gap-8 gradient-background">
  <!-- Contenido -->
  <form
    class="max-w-[500px] max-lg:max-w-[unset] w-full"
    [formGroup]="form"
    (ngSubmit)="bankRegister()"
  >
    <div
      class="h-full min-h-dvh flex flex-col justify-center p-4 sm:p-10 shadow-sm dark:bg-neutral-800 dark:border-r-[1px] dark:border-r-neutral-600"
    >
      <!-- Título -->
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-white">
          Crea cuenta de Banco
        </h1>
        <p class="mt-2 text-sm text-dark-gray">
          Ya tienes una cuenta?
          <a
            class="text-purple-400 decoration-2 hover:underline focus:outline-none focus:underline"
            routerLink="/banco/iniciar-sesion"
          >
            Iniciar Sesión
          </a>
        </p>
      </div>

      <!-- Inputs -->
      <div class="mt-5">
        <!-- Google -->
        <!-- <button
          disabled
          type="button"
          class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 dark:hover:bg-opacity-75 outline-none text-white disabled:opacity-50 disabled:pointer-events-none"
        >
          <svg
            class="w-4 h-auto"
            width="46"
            height="47"
            viewBox="0 0 46 47"
            fill="none"
          >
            <path
              d="M46 24.0287C46 22.09 45.8533 20.68 45.5013 19.2112H23.4694V27.9356H36.4069C36.1429 30.1094 34.7347 33.37 31.5957 35.5731L31.5663 35.8669L38.5191 41.2719L38.9885 41.3306C43.4477 37.2181 46 31.1669 46 24.0287Z"
              fill="#4285F4"
            />
            <path
              d="M23.4694 47C29.8061 47 35.1161 44.9144 39.0179 41.3012L31.625 35.5437C29.6301 36.9244 26.9898 37.8937 23.4987 37.8937C17.2793 37.8937 12.0281 33.7812 10.1505 28.1412L9.88649 28.1706L2.61097 33.7812L2.52296 34.0456C6.36608 41.7125 14.287 47 23.4694 47Z"
              fill="#34A853"
            />
            <path
              d="M10.1212 28.1413C9.62245 26.6725 9.32908 25.1156 9.32908 23.5C9.32908 21.8844 9.62245 20.3275 10.0918 18.8588V18.5356L2.75765 12.8369L2.52296 12.9544C0.909439 16.1269 0 19.7106 0 23.5C0 27.2894 0.909439 30.8731 2.49362 34.0456L10.1212 28.1413Z"
              fill="#FBBC05"
            />
            <path
              d="M23.4694 9.07688C27.8699 9.07688 30.8622 10.9863 32.5344 12.5725L39.1645 6.11C35.0867 2.32063 29.8061 0 23.4694 0C14.287 0 6.36607 5.2875 2.49362 12.9544L10.0918 18.8588C11.9987 13.1894 17.25 9.07688 23.4694 9.07688Z"
              fill="#EB4335"
            />
          </svg>
          Registrar una cuenta con Google
        </button>

        <div
          class="py-3 flex items-center text-xs text-dark-7 uppercase before:flex-1 before:border-t before:border-dark-5 before:me-6 after:flex-1 after:border-t after:border-dark-5 after:ms-6 mt-2"
        >
          O
        </div> -->

        <!-- Form -->
        <form>
          <div class="grid gap-y-6">
            <!-- Nombre del Banco -->
            <div>
              <label
                for="realName"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Nombre del Banco</label
              >
              <div class="relative">
                <!-- Part: Icon -->
                <div
                  class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                >
                  <svg
                    class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                  </svg>
                </div>

                <!-- Part: Input -->
                <input
                  id="realName"
                  name="realName"
                  formControlName="realName"
                  type="text"
                  class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 focus:ring-0 dark:text-neutral-200 dark:placeholder-neutral-500 transition-colors duration-300"
                  placeholder="Banco S.A.C."
                />
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'realName'})) {
              <small class="text-red-400"
                >El nombre del banco es obligatorio</small
              >
              } @if (hasMaxLengthError({field: 'realName'})) {
              <small class="text-red-400"
                >El nombre del banco no debe exceder los 255
                caracteres</small
              >
              }
            </div>

            <!-- RUC -->
            <div>
              <label
                for="ruc"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >RUC</label
              >
              <div class="relative">
                <!-- Part: Icon -->
                <div
                  class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                >
                  <svg
                    class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 4h12M6 4v16M6 4H5m13 0v16m0-16h1m-1 16H6m12 0h1M6 20H5M9 7h1v1H9V7Zm5 0h1v1h-1V7Zm-5 4h1v1H9v-1Zm5 0h1v1h-1v-1Zm-3 4h2a1 1 0 0 1 1 1v4h-4v-4a1 1 0 0 1 1-1Z"
                    />
                  </svg>
                </div>
                <!-- Part: Input -->
                <input
                  id="ruc"
                  name="ruc"
                  formControlName="ruc"
                  type="number"
                  pattern="\d{11}"
                  style="appearance: textfield; -moz-appearance: textfield"
                  class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 focus:ring-0 dark:text-neutral-200 dark:placeholder-neutral-500 transition-colors duration-300"
                  placeholder="01234567891"
                  (keyup)="enforceRucPattern($event)"
                />
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'ruc'})) {
              <small class="text-red-400">El RUC es obligatorio</small>
              } @if (hasMinLengthError({field: 'ruc'}) ||
              hasMaxLengthError({field: 'ruc'})) {
              <small class="text-red-400">El RUC debe ser válido</small>
              }
            </div>

            <!-- Email -->
            <div>
              <label
                for="username"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Correo Electrónico</label
              >
              <div class="relative">
                <!-- Part: Icon -->
                <div
                  class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                >
                  <svg
                    class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                  </svg>
                </div>

                <!-- Part: Input -->
                <input
                  id="username"
                  name="username"
                  formControlName="username"
                  type="text"
                  class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 focus:ring-0 dark:text-neutral-200 dark:placeholder-neutral-500 transition-colors duration-300"
                  placeholder="trabajador@banco.com"
                />
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'username'})) {
              <small class="text-red-400">El correo es obligatorio</small>
              } @if (hasEmailError({field: 'username'})) {
              <small class="text-red-400">El correo debe ser válido</small>
              } @if (hasMaxLengthError({field: 'username'})) {
              <small class="text-red-400"
                >El correo no debe exceder los 150 caracteres</small
              >
              }
            </div>

            <!-- Strong Password -->
            <div>
              <label
                for="strong-password-with-indicator-1"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Contraseña</label
              >
              <div class="relative flex-1">
                <div class="relative">
                  <!-- Part: Icon -->
                  <div
                    class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
                  >
                    <svg
                      class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"
                      ></path>
                      <circle cx="16.5" cy="7.5" r=".5"></circle>
                    </svg>
                  </div>

                  <!-- Part: Input -->
                  <input
                    id="strong-password-with-indicator-1"
                    type="password"
                    name="password"
                    formControlName="password"
                    class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 focus:ring-0 dark:text-neutral-200 dark:placeholder-neutral-500 transition-colors duration-300"
                    placeholder="••••••••••••••"
                  />

                  <!-- Part: Eye button -->
                  <button
                    type="button"
                    data-hs-toggle-password='{
                    "target": "#strong-password-with-indicator-1"
                  }'
                    class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-none focus:text-purple-500 dark:text-neutral-500 dark:focus:text-purple-500"
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path
                        class="hs-password-active:hidden"
                        d="M9.88 9.88a3 3 0 1 0 4.24 4.24"
                      ></path>
                      <path
                        class="hs-password-active:hidden"
                        d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"
                      ></path>
                      <path
                        class="hs-password-active:hidden"
                        d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"
                      ></path>
                      <line
                        class="hs-password-active:hidden"
                        x1="2"
                        x2="22"
                        y1="2"
                        y2="22"
                      ></line>
                      <path
                        class="hidden hs-password-active:block"
                        d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"
                      ></path>
                      <circle
                        class="hidden hs-password-active:block"
                        cx="12"
                        cy="12"
                        r="3"
                      ></circle>
                    </svg>
                  </button>
                </div>
                <div
                  id="hs-strong-password-popover"
                  class="hidden absolute z-10 w-full bg-white shadow-md rounded-lg p-4 dark:bg-neutral-900 dark:border dark:border-neutral-700 dark:divide-neutral-700"
                >
                  <div
                    id="hs-strong-password-in-popover"
                    data-hs-strong-password='{
                      "target": "#strong-password-with-indicator-1",
                      "hints": "#hs-strong-password-popover",
                      "stripClasses": "hs-strong-password:opacity-100 hs-strong-password-accepted:bg-purple-500 h-2 flex-auto rounded-full bg-purple-500 opacity-25 mx-1",
                      "mode": "popover"
                    }'
                    class="mt-2 mb-4 -mx-1 flex"
                  ></div>

                  <div class="mb-3">
                    <span class="text-sm text-gray-800 dark:text-neutral-200"
                      >Nivel:
                    </span>
                    <span
                      data-hs-strong-password-hints-weakness-text='["No detectado", "Débil", "Insegura", "Segura", "Muy segura", "Indetectable"]'
                      class="text-sm font-semibold text-gray-800 dark:text-neutral-200"
                    ></span>
                  </div>

                  <ul
                    class="space-y-1 text-sm text-gray-500 dark:text-neutral-500"
                  >
                    <li
                      data-hs-strong-password-hints-rule-text="min-length"
                      class="hs-strong-password-active:text-purple-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      La cantidad mínima de caracteres es 6.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="lowercase"
                      class="hs-strong-password-active:text-purple-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener minúsculas.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="uppercase"
                      class="hs-strong-password-active:text-purple-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener mayúsculas.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="numbers"
                      class="hs-strong-password-active:text-purple-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener números.
                    </li>
                    <li
                      data-hs-strong-password-hints-rule-text="special-characters"
                      class="hs-strong-password-active:text-purple-400 flex items-center gap-x-2"
                    >
                      <span class="hidden" data-check="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                      <span data-uncheck="">
                        <svg
                          class="shrink-0 size-4"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path d="M18 6 6 18"></path>
                          <path d="m6 6 12 12"></path>
                        </svg>
                      </span>
                      Debe contener caracteres especiales.
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Main Currency -->
            <div>
              <label
                for="currency"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Moneda Principal
              </label>
              <div>
                <select
                  id="currency"
                  formControlName="currency"
                  data-hs-select='{
                    "placeholder": "<span class=\"inline-flex items-center text-neutral-500 \"><svg class=\"shrink-0 size-3.5 me-2\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polygon points=\"22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3\"/></svg> Filter</span>",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"><span class=\"me-2\" data-icon></span><span class=\"text-gray-800 dark:text-neutral-200 \" data-title></span></button>",
                    "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:outline-none dark:bg-neutral-900 dark:hover:bg-neutral-950 dark:border-neutral-700 dark:text-neutral-200 dark:focus:ring-0 transition-colors duration-300",
                    "dropdownClasses": "mt-2 max-h-72 p-1 space-y-0.5 z-20 w-full bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700",
                    "optionClasses": "py-2 px-3 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-200 dark:focus:bg-neutral-800",
                    "optionTemplate": "<div class=\"flex items-center\"><div class=\"me-2\" data-icon></div><div><div class=\"hs-selected:font-semibold text-sm text-gray-800 dark:text-neutral-200 \" data-title></div></div><div class=\"ms-auto\"><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-4 text-purple-400\" xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 16 16\"><path d=\"M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z\"/></svg></span></div></div>",
                    "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 dark:text-neutral-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
                  }'
                  class="hidden"
                >
                  <option value="">Choose</option>
                  <option
                    selected
                    value="PEN"
                    data-hs-select-option='{
                      "icon": "<img class=\"shrink-0 size-5\" src=\"svgs/peru-svgrepo-com.svg\" alt=\"Sol Peruano\" />"
                    }'
                  >
                    Sol Peruano
                  </option>
                  <option
                    value="USD"
                    data-hs-select-option='{
                      "icon": "<img class=\"shrink-0 size-5\" src=\"svgs/united-states-svgrepo-com.svg\" alt=\"Dólar Americano\" />"
                    }'
                  >
                    Dólar Americano
                  </option>
                  <option
                    value="CAD"
                    data-hs-select-option='{
                      "icon": "<img class=\"shrink-0 size-5\" src=\"svgs/canada-svgrepo-com.svg\" alt=\"Dólar Canadiense\" />"
                    }'
                  >
                    Dólar Canadiense
                  </option>
                  <option
                    value="EUR"
                    data-hs-select-option='{
                      "icon": "<img class=\"shrink-0 size-5\" src=\"svgs/european-union-europe-svgrepo-com.svg\" alt=\"Euro\" />"
                    }'
                  >
                    Euro
                  </option>
                </select>
              </div>
            </div>

            <!-- Nominal Rate -->
            <div>
              <label
                for="nominalRate"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Tasa Nominal Anual (%)
              </label>
              <div
                class="w-full py-2 px-3 bg-white border border-gray-200 rounded-lg dark:bg-neutral-900 dark:hover:bg-neutral-950 dark:border-neutral-700 transition-colors duration-300"
                data-hs-input-number='{
                  "min": 0,
                  "max": 100
                }'
              >
                <div class="flex items-center gap-x-1.5">
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Decrease"
                    data-hs-input-number-decrement=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                    </svg>
                  </button>
                  <input
                    id="nominalRate"
                    name="nominalRate"
                    formControlName="nominalRate"
                    min="0"
                    max="100"
                    step="0.01"
                    class="w-10 flex-1 p-0 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                    style="appearance: textfield; -moz-appearance: textfield"
                    type="number"
                    aria-roledescription="Number field"
                    data-hs-input-number-input=""
                    placeholder="0.00"
                  />
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Increase"
                    data-hs-input-number-increment=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5v14"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'nominalRate'})) {
                <small class="text-red-400">La tasa nominal es obligatoria</small>
              } @if (hasMinError({field: 'nominalRate'})) {
                <small class="text-red-400">La tasa nominal no puede ser menor a 0%</small>
              } @if (hasMaxError({field: 'nominalRate'})) {
                <small class="text-red-400">La tasa nominal no puede ser mayor al 100%</small>
              }
            </div>

            <!-- Effective Rate -->
            <div>
              <label
                for="effectiveRate"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Tasa Efectiva Anual (%)
              </label>
              <div
                class="w-full py-2 px-3 bg-white border border-gray-200 rounded-lg dark:bg-neutral-900 dark:hover:bg-neutral-950 dark:border-neutral-700 transition-colors duration-300"
                data-hs-input-number='{
                  "min": 0,
                  "max": 100
                }'
              >
                <div class="flex items-center gap-x-1.5">
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Decrease"
                    data-hs-input-number-decrement=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                    </svg>
                  </button>
                  <input
                    id="effectiveRate"
                    name="effectiveRate"
                    formControlName="effectiveRate"
                    value=""
                    min="0"
                    max="100"
                    step="0.01"
                    class="w-10 flex-1 p-0 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white"
                    style="appearance: textfield; -moz-appearance: textfield"
                    type="number"
                    aria-roledescription="Number field"
                    data-hs-input-number-input=""
                    placeholder="0.00"
                  />
                  <button
                    type="button"
                    class="size-6 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                    tabindex="-1"
                    aria-label="Increase"
                    data-hs-input-number-increment=""
                  >
                    <svg
                      class="shrink-0 size-3.5"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M5 12h14"></path>
                      <path d="M12 5v14"></path>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- Validators -->
              @if (isRequired({field: 'effectiveRate'})) {
                <small class="text-red-400">La tasa efectiva es obligatoria</small>
              } @if (hasMinError({field: 'effectiveRate'})) {
                <small class="text-red-400">La tasa efectiva no puede ser menor a 0%</small>
              } @if (hasMaxError({field: 'effectiveRate'})) {
                <small class="text-red-400">La tasa efectiva no puede ser mayor al 100%</small>
              }
            </div>

            <!-- Upload Image -->
            <div>
              <label
                for="image"
                class="block w-fit text-sm font-medium mb-2 dark:text-neutral-200"
                >Logotipo del Banco</label
              >
              <div class="w-full flex gap-3 items-center">
                <!-- Campo de entrada -->
                <div class="flex-1 relative">
                  <!-- Part: Icon -->
                  <div
                    class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4"
                  >
                    <svg
                      class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                      <path
                        d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"
                      ></path>
                    </svg>
                  </div>

                  <!-- Part: Input -->
                  <input
                    id="image"
                    name="image"
                    type="file"
                    accept=".png, .jpg, .jpeg"
                    class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border border-gray-200 dark:bg-neutral-900 dark:border-neutral-700 dark:hover:bg-neutral-950 focus:ring-0 dark:text-neutral-500 transition-colors duration-300 hover:cursor-pointer"
                    (change)="onFileChange($event)"
                  />
                </div>

                <!-- Vista previa de la imagen -->
                <div class="size-[46.48px] flex items-center">
                  @if (imagePreview && imagePreview !== '' || imagePreview !==
                  null) {
                  <img
                    [src]="imagePreview"
                    alt="Vista previa"
                    class="rounded-[50%] w-full h-full object-contain"
                  />
                  } @else {
                  <img
                    src="images/no-image-selected.webp"
                    alt="Vista previa"
                    class="rounded-[50%] w-full h-full object-contain"
                  />
                  }
                </div>
              </div>
            </div>

            <!-- Checkbox -->
            <div class="grid space-y-3">
              <div class="relative flex items-start">
                <div class="flex items-center h-5 mt-1">
                  <input
                    id="hs-checkbox-delete"
                    name="hs-checkbox-delete"
                    type="checkbox"
                    class="appearance-none rounded text-purple-500 disabled:opacity-50 disabled:pointer-events-none bg-neutral-900 border-dark-5 checked:bg-purple-500 focus:outline-none focus:ring-0 focus:ring-offset-0"
                    aria-describedby="hs-checkbox-delete-description"
                    [checked]="rememberMe"
                  />
                </div>
                <label for="hs-checkbox-delete" class="ms-3">
                  <span class="block text-sm text-neutral-300">Recuerdame</span>
                  <span
                    id="hs-checkbox-delete-description"
                    class="block text-sm text-neutral-500"
                    >Recuérdame por los próximos 30 días</span
                  >
                </label>
              </div>
            </div>

            <button
              [disabled]="form.invalid"
              (click)="bankRegister()"
              type="button"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-purple-500 text-white hover:bg-purple-600 focus:outline-none focus:bg-purple-600 disabled:opacity-50 disabled:pointer-events-none transition-colors duration-300"
            >
              Ingresar
            </button>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
  </form>
</div>
