<div class="text-[24px] flex flex-wrap gap-4">
  <div class="w-auto flex gap-4">
    <div>
      <P class="text-[20px] mb-2">BANCO</P>
      <div class="flex flex-wrap gap-2">
        <app-flowbite-datepicker 
          class="w-[290px]" 
          placeholder="Selecciona una fecha" 
          title="BANCO"
          [startToday]="true" 
          (dateChange)="onDateSelected($event)">
        </app-flowbite-datepicker>
      </div>
    </div>
    <div>
      <P class="text-[20px] mb-2">EMPRESA</P>
      <div class="flex flex-wrap gap-2">
        <app-flowbite-datepicker class="w-[290px]" placeholder="Selecciona una fecha" title="EMPRESA" [startToday]="true"></app-flowbite-datepicker>
      </div>
    </div>
  </div>
</div>