<section class="w-full h-full">

  <!-- Título -->
  <h2 class="mb-[6px] max-sm:ml-3 font-semibold text-[18px]">
    <label for="searchInput">Bancos Asociados</label>
  </h2>
  
  <!-- Búsqueda -->
  <div class="relative max-w-md max-sm:max-w-full w-full flex gap-1 max-sm:gap-2 flex-wrap mb-4" >
    <!-- Buscador -->
    <div class="flex-1">
      <!-- Part: Icon -->
      <div
        class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
      >
        <svg
          class="shrink-0 size-[18px] text-neutral-300 dark:text-neutral-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <!-- Part: Input -->
      <input
        [(ngModel)]="searchInput"
        type="text"
        class="ps-11 block w-full py-3 px-4 text-sm ring-0 rounded-md disabled:opacity-50 disabled:pointer-events-none border-gray-200 focus:ring-0 dark:text-neutral-200 dark:placeholder-neutral-500 transition-colors duration-300 dark:bg-neutral-750 dark:hover:bg-neutral-775 dark:border-neutral-800"
        placeholder="Buscar..."
        (input)="onSearch($event)"
      />
    </div>

    <!-- Filtro de Búsqueda -->
    <div class="relative">
      <!-- Selector feo pero funcional -->
      <select
        class="cursor-pointer h-full dark:text-neutral-200 border-[1px] text-sm rounded-lg dark:ring-0 dark:bg-neutral-750 dark:hover:bg-neutral-775 dark:border-neutral-800 transition-colors duration-300"
        [(ngModel)]="lowerSelectedSearchTerm"
        (change)="onOptionSelected($event)"
      >
        <option value="" class="hidden">Elije una opción</option>
        <option value="id">ID</option>
        <option value="realName">Nombre</option>
        <option value="ruc">RUC</option>
        <option value="nominalRate">Tasa Nominal</option>
        <option value="effectiveRate">Tasa Efectiva</option>
      </select>
    </div>
  </div>

  @if (isLoading === false) {

    <!-- Bancos -->
    <div class="grid grid-cols-4 max-[1800px]:grid-cols-3 max-2xl:grid-cols-2 max-lg:grid-cols-1 gap-2">
      @for (item of filteredListData; track $index) {
        <div class="p-4 border bg-neutral-750 border-neutral-800 max-sm:border-x-0 rounded-lg max-sm:rounded-none">
          <!-- Info -->
          <div class="flex gap-4 mb-4">
            <img
              [src]="item.imageUrl"
              [alt]="item.realName"
              class="size-16 rounded-full"
            />
            <div class="flex flex-col justify-center gap-1 w-full">
              <h2 class="text-base font-medium">{{item.realName}}</h2>
              <p class="text-neutral-400 text-sm font-medium pb-2 border-b border-neutral-400 border-opacity-50">
                {{ item.ruc }}
              </p>
            </div>
          </div>

          <!-- Data -->
          <div class="flex flex-col gap-1">
            <div class="w-full flex justify-between gap-1 text-sm font-medium">
              <p class="text-neutral-400 flex-1">
                Moneda Principal:
              </p>
              <p class="text-neutral-200">
                @if (item.mainCurrency === 'PEN') {
                  Soles Peruanos (PEN)
                } @else if (item.mainCurrency === 'USD') {
                  Dólares Americanos (USD)
                } @else {
                  {{ item.mainCurrency }}
                }
              </p>
            </div>
            <div class="w-full flex justify-between gap-1 text-sm font-medium">
              <p class="text-neutral-400 flex-1">
                Tasa Nominal:
              </p>
              <p class="text-neutral-200">
                {{ item.nominalRate }} %
              </p>
            </div>
            <div class="w-full flex justify-between gap-1 text-sm font-medium">
              <p class="text-neutral-400 flex-1">
                Tasa Efectiva:
              </p>
              <p class="text-neutral-200">
                {{ item.effectiveRate }} %
              </p>
            </div>
            <!-- <div class="w-full flex justify-between gap-1 text-sm font-medium">
              <p class="text-neutral-400 flex-1">
                Cantidad de Compras:
              </p>
              <p class="text-neutral-200">
                {{ item.purchasesQuantity }}
              </p>
            </div> -->
            <div class="w-full flex justify-between gap-1 text-sm font-medium">
              <p class="text-neutral-400 flex-1">
                Fecha de Creación:
              </p>
              <p class="text-neutral-200">
                {{ item.creationDate }}
              </p>
            </div>
          </div>
        </div>
      }
    </div>

  } @else if (isLoading === true) {

    <section>
      <app-loader></app-loader>
    </section>
  
  } @else if (isLoading === null) {
  
    <section>
      <p class="text-red-200 dark:text-red-400">¡Ocurrió un error interno!</p>
    </section>
  
  }
</section>