<section class="w-full h-full flex flex-wrap max-md:flex-col max-md:justify-center items-center gap-4">

  <!-- <div class="w-full flex flex-wrap gap-4">
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions1"></app-chart>
    <app-chart class="min-w-[350px] flex-1 flex justify-center items-center" [chartOptions]="chartOptions2"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions3"></app-chart>
  </div>
  
  <div class="w-full flex flex-wrap gap-4">
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions5"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions4"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions1"></app-chart>
  </div> -->
  
  <div class="w-full flex flex-wrap gap-4">
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions3"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions5"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions4"></app-chart>
  </div>
  
  <div class="w-full flex flex-wrap gap-4">
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions1"></app-chart>
  </div>
  
  <!-- <div class="w-full flex flex-wrap gap-4">
    <app-chart class="min-w-[350px] flex-1 flex justify-center items-center" [chartOptions]="chartOptions2"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions1"></app-chart>
    <app-chart class="min-w-[350px] flex-1" [chartOptions]="chartOptions4"></app-chart>
  </div> -->

</section>