<section class="w-full h-full">

  @if (isLoading === false) {

    <mat-form-field class="w-full">
      <mat-label>Selecciona los documentos</mat-label>
      <mat-select [formControl]="selectedDocuments" multiple>
        <mat-select-trigger>
          {{ selectedDocuments.value?.[0] || '' }}
          <span *ngIf="(selectedDocuments.value?.length || 0) > 1">
            (+{{ (selectedDocuments.value?.length || 0) - 1 }}
            {{ (selectedDocuments.value?.length || 0) === 2 ? 'otro' : 'otros' }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let document of documentList" [value]="document.id">
          [{{ document.id }}] - {{ document.documentType }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  } @else if (isLoading === true) {

    <section>
      <app-loader></app-loader>
    </section>
  
  } @else if (isLoading === null) {
  
    <section>
      <p class="text-red-200 dark:text-red-400">¡Ocurrió un error interno!</p>
    </section>
  
  }
</section>