<section class="w-full h-full">

  @if (isLoading === false) {
    
    <div class="flex gap-3 max-[1400px]:flex-col mb-6">
      <!-- Banco y Tasa -->
      <div class="flex-1 flex flex-col gap-4">
        
        <h2 class="max-sm:ps-3 font-medium text-[18px] pb-2 border-b border-b-neutral-500 border-opacity-50 mb-1">
          Cartera
        </h2>

        <div class="w-full flex gap-3 flex-col">

          <div class="w-full flex-1 flex justify-center items-center">
            <button
              (click)="changeState('create')" type="button" [ngClass]="{
                'bg-neutral-775 hover:bg-neutral-800': portfolios.length === 0,
                'bg-neutral-750 hover:bg-neutral-775': portfolios.length > 0,
              }"
              class="w-full flex-1 px-4 py-2 rounded-l-lg border border-neutral-800 transition-colors duration-300"
            >
              Nueva Cartera
            </button>
            <button
              (click)="changeState('select')" type="button" [ngClass]="{
                'bg-neutral-775 hover:bg-neutral-800': portfolios.length > 0,
              }"
              class="w-full flex-1 px-4 py-2 rounded-r-lg bg-neutral-750 hover:bg-neutral-775 border border-neutral-800 transition-colors duration-300 disabled:opacity-50 disabled:hover:bg-neutral-750 disabled:cursor-not-allowed"
            >
              Seleccionar Cartera Existente
            </button>
          </div>

          <!-- Selector de Cartera (único) -->
          <mat-form-field class="w-full flex-1">
            <mat-label>Selecciona una cartera</mat-label>
            <mat-select [formControl]="selectedPortfolio">
              <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio.id">
                {{ portfolio.id }} - {{ portfolio.name }} - {{ portfolio.state }} - {{ portfolio.documentssize }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button
            (click)="changeDocuments()" type="button"
            [disabled]="selectedPortfolio.value == null || selectedDocuments.value == null"
            class="px-4 py-3 w-full font-semibold rounded-lg bg-purple-500 hover:bg-purple-600 border border-purple-500 border-opacity-50 disabled:hover:bg-purple-500 transition-colors duration-300 disabled:opacity-50 disabled:cursor-not-allowed"
          >
            Guardar Cambios
          </button>
        </div>
        
        <h2 class="max-sm:ps-3 font-medium text-[18px] pb-2 border-b border-b-neutral-500 border-opacity-50 mb-1">
          Carteras Disponibles
        </h2>
        
        @if (isTablePortfoliosLoading === false) {

          <app-table
            class="min-w-[314px] w-full"
            [style]="'light'"
            [haveActionsCol]="{edit: true, delete: true}"
            [forceActionsCol]="true"
            [headersDisplayed]="portfoliosHeadersDisplayed"
            [headersDisplayedNames]="portfoliosHeadersDisplayedNames"
            [dataTable]="portfolios"
            [eventsList]="eventsList"
            (editRow)="emitEditRow($event)"
            (deleteRow)="emitDeleteRow($event)"
          ></app-table>

        } @else if (isTablePortfoliosLoading === true) {

          <section>
            <app-loader></app-loader>
          </section>

        } @else {
          
          <section>
            <p class="text-red-200 dark:text-red-400">¡Ocurrió un error interno!</p>
          </section>

        }
    
      </div>

      <!-- Documentos -->
      <div class="flex-1 flex flex-col gap-4">        
        <h2 class="max-sm:ps-3 font-medium text-[18px] pb-2 border-b border-b-neutral-500 border-opacity-50 mb-1">
          Documentos
        </h2>
        
        <!-- Selector de documentos (múltiple) -->
        <mat-form-field class="w-full">
          <mat-label>Selecciona los documentos</mat-label>
          <mat-select [formControl]="selectedDocuments" multiple>
            <mat-option *ngFor="let document of documents" [value]="document.id">
              {{ document.id }} - {{ document.documenttype }} - {{ document.amount }} - {{ document.clientname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <h2 class="max-sm:ps-3 font-medium text-[18px] pb-2 border-b border-b-neutral-500 border-opacity-50 mb-1">
          Documentos Disponibles
        </h2>

        @if (isTableDocumentsLoading === false) {

          <app-table
            class="min-w-[314px] w-full"
            [style]="'light'"
            [headersDisplayed]="documentsHeadersDisplayed"
            [headersDisplayedNames]="documentsHeadersDisplayedNames"
            [dataTable]="documents"
            [eventsList]="eventsList"
          ></app-table>

        } @else if (isTableDocumentsLoading === true) {

          <section>
            <app-loader></app-loader>
          </section>

        } @else {
          
          <section>
            <p class="text-red-200 dark:text-red-400">¡Ocurrió un error interno!</p>
          </section>

        }
      </div>
    </div>

  } @else if (isLoading === true) {

    <section>
      <app-loader></app-loader>
    </section>
  
  } @else if (isLoading === null) {
  
    <section>
      <p class="text-red-200 dark:text-red-400">¡Ocurrió un error interno!</p>
    </section>
  
  }
</section>