.main {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 272px 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar content";

  #app-sidebar {
    grid-area: sidebar;
  }

  #app-navbar {
    grid-area: navbar;
  }

  #router-outlet {
    grid-area: content;
  }

  #footer {
    grid-area: footer;
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;

    grid-template-areas:
      "navbar"
      "content";
  }
}
