@import url('../public/styles/_all.css');
@import url('../public/styles/_angular_material.css');
@import url('../public/styles/_scrollbar.css');
@import url('../public/styles/_apexcharts.css');
@import url('../public/styles/_flowbite.css');
@import url('../public/styles/_preline.css');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

